@media (width<=1130px) {
  .hero-container,
  .subscribe-container {
    padding-right: 0;
  }
}

@media (width<=1030px) {
  .section {
    padding: 2rem 1rem;
  }
  .btns-cover,
  .show .menu-bar,
  .navbar > i {
    display: none;
  }
  .toggle-btns,
  .navbar > .btns-cover {
    display: flex;
  }

  .menu-bar,
  .show .cancel-btn {
    display: block;
  }
  .show {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    transition: all 0% linear;
    -webkit-transition: all 0% linear;
    -moz-transition: all 0% linear;
    -ms-transition: all 0% linear;
    -o-transition: all 0% linear;
  }

  .navbar {
    position: absolute;
    top: 6.5rem;
    left: 50%;
    width: 100%;
    height: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: var(--white-shade);
    overflow: hidden;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 0;
  }
  .show .navbar {
    overflow-y: scroll;
    height: calc(98vh - 7rem);
  }

  .navbar a {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navbar a,
  .navbar > .btns-cover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .navbar a:hover {
    background-color: var(--mainColor-1);
  }

  .navbar > .btns-cover {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin: 0rem 0 4rem;
    padding: 2rem 0;
  }
  .navbar > .btns-cover > .btn {
    width: 20rem;
  }
  .btns-cover > .btn:first-child {
    background-color: var(--black);
    color: white;
  }
}

@media (width <=930px) {
  .hero-container,
  .this-easy-container,
  .projects-container,
  .global-container {
    margin-bottom: 2rem;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
    height: auto;
    justify-items: center;
  }
  .hero-content,
  .subscribe-content {
    padding-top: 4rem;
    text-align: center;
  }

  :is(.hero-content .hero-input, .subscribe-content .subscribe-input) {
    margin-top: 3rem;
  }
  .hero-img,
  .subscribe-img {
    width: 100%;
  }

  .global-content {
    gap: 1rem;
  }

  .global-item {
    text-align: center;
    align-items: center;
    gap: 2rem;
  }

  .global-item-heading + p {
    text-align: center;
  }
  .global-counters {
    gap: 10rem;
  }
}

@media (width<= 800px) {
  .common-heading {
    font-size: 3rem;
  }

  .grid-three-cols {
    grid-template-columns: 1fr;
  }

  .global-counters {
    margin-top: 2rem;
  }
}

@media (width <= 600px) {
  .navbar > .btns-cover {
    gap: 1rem;
  }
  .navbar > .btns-cover > .btn {
    width: 13rem;
  }

  .hero-container,
  .subscribe-container {
    gap: 0%;
  }

  .hero-img,
  .subscribe-img {
    width: 100%;
    height: auto;
  }

  :is(.hero-content .hero-input, .subscribe-content .subscribe-input) input {
    font-size: 1.6rem;
  }

  .global-heading {
    width: 100%;
  }
  .global-counters {
    width: 100%;
    gap: 0;
  }
  .counter-number {
    font-size: 3rem;
  }
  .global-img img {
    height: auto;
  }
}

@media (width <=510px) {
  .main-container {
    padding: 0.5rem;
  }
  .header-container {
    padding: 1.5rem 0.5rem 0rem;
  }
  .header {
    padding: 1rem 2rem;
    height: 5rem;
  }

  .header .logo {
    width: 7rem;
  }
  .navbar {
    top: 5rem;
  }
  .navbar a {
    font-size: 1.5rem;
  }
  .header .logo img {
    object-fit: contain;
  }

  .hero-content .hero-heading,
  .subscribe-content .subscribe-heading {
    font-size: 3rem;
  }
  .common-heading {
    font-size: 2.5rem;
  }
  .global-item-heading {
    font-size: 2.2rem;
  }
}
@media (width <= 310px) {
  .global-btns {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
  }
  .counter-number {
    font-size: 2rem;
  }
  .counter-number + span {
    font-size: 1.4rem;
  }
}
