@media (width<=1130px) {
  .section {
    padding: 2rem;
  }
  .hero-container {
    padding-right: 0;
  }
}

@media (width<=1030px) {
  .btns-cover,
  .show .menu-bar,
  .navbar > i {
    display: none;
  }
  .toggle-btns,
  .navbar > .btns-cover {
    display: flex;
  }

  .menu-bar,
  .show .cancel-btn {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 6.5rem;
    left: 50%;
    width: 90%;
    height: 0%;
    flex-direction: column;
    gap: 0;
    background-color: var(--white-shade);
    overflow: hidden;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 0;
  }
  .show .navbar {
    overflow-y: scroll;
    height: calc(80vh - 7rem);
  }

  .navbar a {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    padding: 1rem 0;
  }

  .navbar a,
  .navbar > .btns-cover {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar a:hover {
    background-color: var(--mainColor-1);
  }

  .navbar > .btns-cover {
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin: 0rem 0 4rem;
    padding: 1rem 1rem 0;
  }
  .navbar > .btns-cover > .btn {
    width: 20rem;
  }
}

@media (width <=930px) {
  .section {
    padding: 2rem;
  }
  .grid-two-cols {
    grid-template-columns: 1fr;
    height: auto;
    justify-items: center;
  }
  .hero-content {
    padding-top: 4rem;
    text-align: center;
  }

  .hero-content .hero-input {
    margin-top: 3rem;
  }
  .hero-img {
    width: 100%;
  }
}

@media (width<= 800px) {
  .grid-three-cols {
    grid-template-columns: 1fr;
  }
}

@media (width <= 600px) {
  .navbar {
    width: 90%;
  }
  .show .navbar {
    height: calc(70vh - 7rem);
  }
  .navbar > .btns-cover {
    gap: 1rem;
  }
  .navbar > .btns-cover > .btn {
    width: 13rem;
  }

  .hero-container {
    gap: 0%;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-content .hero-input input {
    font-size: 1.6rem;
  }
}

@media (width <=510px) {
  .hero-content .hero-heading {
    font-size: 4rem;
  }
}
